[user]
	name = Deric Miguel
	email = deric.miguel@protonmail.com
	signingkey = 2D8D48DF73C6B474CFFC98C9FF874E12005B50F0

[includeIf "gitdir:~/Flux7/"]
	path = .gitconfig.flux7

[includeIf "gitdir:~/Flux7/Flux7/Clients/Sysco/"]
  path = .gitconfig.sysco

[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff-so-fancy]
	changeHunkIndicators = false
[push]
	followTags = true
[merge]
	tool = vimdiff3
[mergetool]
	keepBackup = false

[url "git@github.com:"]
	insteadOf = https://github.com/
